<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your account on Buzzworthy Cinema Guide! (BCG)</title>

    <link href="{{url_for('static', filename='styles/pure.css')}}" rel = "stylesheet"/>

    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <h1>this is the account page!!!</h1>
    <p>Username: {{ account.UserId }}</p>
    <p>Favorite Movie: {{ account.FavMovie }}</p>

    <form method="post" action="/movie">
        <input type="text" name="movie_name" id="movie_name" class="big-input" placeholder="Enter a Movie or Show!"/>
        <button type="submit" class="big-button">Submit</button>
    </form>
    <form method="post" action="/delete_account">
        <input type="hidden" name="user_id" value="{{ account.UserId }}">
        <button type="submit" class="delete-button">Delete Account</button>
    </form>
</body>
</html>