<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movies on Buzzworthy Cinema Guide! (BCG)</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <h1>Search Movies</h1>
    <form method="post" action="/movie">
        <input type="text" name="movie_name" id="movie_name" placeholder="Enter a Movie"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>