<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buzzworthy Cinema Guide! (BCG)</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <h1>{{  num_results  }} results!</h1>
    <ul>
        {% for result in  movie_data%}
        <li>
            <p>Title: {{  result.primaryTitle  }}</p>
            <p>Released in {{  result.startYear  }} and {{  result.runtimeMinutes  }} mins long</p>
        </li>
        {% endfor %}
    </ul>
    
    <form method="post" action="/movie">
        <input type="text" name="movie_name" id="movie_name" placeholder="Enter a Movie or Show!"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>