<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buzzworthy Cinema Guide! (BCG)</title>

    <link href="{{url_for('static', filename='styles/pure.css')}}" rel = "stylesheet"/>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet"/>
</head>
<body>
    <!--account access -->
    <form method="post" action="/account" class="pure-form">
        <fieldset>
            <input type="username" name="username" id="username" placeholder="Username" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
        </fieldset>
    </form>
    <style>
        h1 {
            font-size: 36px; /* Adjust the size as needed */
            margin-bottom: 12px; 
        }
        a:visited, a:link {
        color: lightseagreen;
        background-color: transparent;
        text-decoration: underline;
        }
    </style>

    </style>
    <h1>{{  num_results  }} results!</h1>
    <h1> Click on a link to find associated trending videos!</h1>
    <ul>
        {% for result in  movie_data%}
        <li>
            <!--<p>Title: {{  result.primaryTitle  }}</p>-->
            <form method="post" action="/trending">
            <input type="hidden" name="selected_movie" value="{{ result.primaryTitle }}">
            <a href="#" onclick="this.parentNode.submit();">Title: {{ result.primaryTitle }}</a>
            <p>Released in {{  result.startYear  }} and {{  result.runtimeMinutes  }} mins long</p>
            </form>
        </li>
        {% endfor %}
    </ul>
    <!-- Modifications end here-->
    <form method="post" action="/movie">
        <input type="text" name="movie_name" id="movie_name" placeholder="Enter a Movie or Show!"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>